<article
  class="flex flex-col items-center justify-center text-center {{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }}"
>
  <header class="flex flex-col items-center mb-3">
    {{ with .Site.Author.image }}
      <img class="mb-8 hover:border-b-2 hover:border-neutral-800 dark:hover:border-neutral-400 rounded-3xl hover:mb-4 hover:rounded-2xl hover:w-48 hover:h-48 w-44 h-44 
      transition-all duration-250" alt="Author" src="{{ . | relURL }}" />
    {{ end }}
  </br>
    <h1 class="text-4xl font-extrabold">
      {{ .Site.Author.name | default .Site.Title }}
    </h1>
    <div class="mt-2 text-2xl">
      {{ partialCached "author-links.html" . }}
    </div>
  </header>
  <section class="prose dark:prose-light">{{ .Content | emojify }}</section>
</article>
<section>
  {{ partial "recent-articles.html" . }}
</section>
